@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.woff2") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Black.woff2") format("truetype");
  font-weight: 900;
}